$navTopHeight: 90px;
$navHeight: 98px;

$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;

$reorganizeNavAt: 1150px;


header { 
	background-color: $darkGreyColor;
	.home & {
		background: transparent;
		position: absolute; 
		left:0; right:0;
		z-index: 11;
	}
}

.header-logo {
	display: block;
	img { 
		@include transition( $smallNavDuration height $smallNavEasing );
		height: 220px; 
	}
}

@media screen and (max-width: $reorganizeNavAt) {
	
	.home header { z-index: 13; height: auto;}
	header { height: 190px; }
	
	.header-logo {
		text-align:center;
		position: absolute;
		left: 0;
		right: 0;
		display: block;
		margin: 0 auto;
		width: 140px;
		img { height: 140px; }
	}
	
}

@media screen and (max-width: $collapseNavAt) {
	header { z-index: 11; height:auto;}
	.header-logo { position: static; }
}