.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	color: $redColor;
	display: none;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:10px; left: 10px;
	z-index: 24;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 700;
	@include transition( 0.2s all $ease-in-out-sine 0s );
	text-transform: uppercase;
	box-shadow: 0 0 5px rgba(0,0,0,0.4); 
	
	@media screen and (max-width: 600px) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $redColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $redColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $redColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $redColor;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -1px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}

.nav {
	position: absolute;
	top:0; left:0; right:0;
	z-index: 12;
}

.nav-top {
	position: absolute;
	top:20px; right:0;
	@include display( flex );
	@include align-items( center );
	
	.t-fa-abs {
		display: inline-block;
		vertical-align: middle;
		width:36px; height:36px;
		color: #fff;
		&:before { font-size: 20px; }
	}
	
	.social {
		margin-left: 8px;
		padding-left: 4px;
		border-left: 1px solid #fff;
		
		a { 
			position: relative; 
			margin: 0 3px;
			overflow: visible;
			&:before { font-size: 20px; }
			&:after {
				content:"";
				position:absolute;
				top: -4px; left: -4px; right: -4px; bottom: -4px;
				border-radius: 50%;
				background: $redColor;
				@include transform-origin( center );
				@include transform( scale(0,0) );
				@include transition( 0.2s transform $ease-in-out-back );
			}
			
			&:hover {
				&:before { color: #fff; }
				&:after { @include transform( scale(1,1) ); }
			}
			
		}
		
	}
}

nav {

	position: absolute;
	top:125px; 
	left: 250px;
	right:0;
	padding: 10px;
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );

	ul { @include display( flex ); }
	li { 
		margin: 0 5px; 
		&:first-child { display: none; }
		
		a { 
			color: #fff;
			text-transform: uppercase; 
			border: 2px solid transparent;
			padding: 6px 14px;
			display:block;
			@include transition( 0.15s border $ease-in-out-sine );
			&:hover { border-color: #fff; }
		}
		
	}
	
	.btngroup {
		border-radius: 8px;
		overflow: hidden;
		border: 1px solid $redColor;
		text-transform: uppercase;
		@include display( flex );
		
		a { 
			padding: 8px 14px; 
			color: #fff;
			background: $redColor;
			@include transition( 0.15s background $ease-in-out-sine );
			&:first-child { margin-right: 1px; }
			&:hover { background: transparent; }
		}
		
	}
}


/* small nav */
.small-nav {
	.nav {
		position: fixed;
		@include transform( translate3d(0, -125px, 0) );
		box-shadow: 0 2px 4px rgba(0,0,0,0.4);
		.sw { 
			width: 100%;
			max-width: $pageWrapperWidth;
		}
	}
	
	nav {
		left:0;
		background-color: $greyColor; 
		li:first-child { display: block; }
	}
	
}

/* reorganized nav */
@media screen and (max-width: $reorganizeNavAt) {

	nav {
		@include transition( $smallNavDuration left $smallNavEasing );
		left:0;
		
		.small-nav & li a { font-size: 14px; }
	}
	
	.nav-top {
		display: block;
		left:0;
		.social {
			margin:0; padding:0;
			border: none;
			float: right;
		}
	}
}

/* collapsed nav */
@media screen and (max-width: $collapseNavAt) {

	.show-nav html,
	.show-nav body { height: 100vh; }

	.toggle-nav {  display: block;  }
	
	.nav {
		@include transition( 0.3s transform $ease-in-out-sine );
		height: 100vh !important;
		position:fixed;
		top:0; left:0; right:0;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		@include transform( translate3d(0,-100vh,0) !important );
		background: rgba($redColor,0.9);
	
		.show-nav & { @include transform( none !important ); }
		.sw { 
			padding: 60px 0;
		}
	}
	
	.nav-top {
		left:0; bottom:0;
		z-index: 2;
		display: block;
		text-align:center;
		
		.t-fa-abs { 
			display: inline-block; 
			vertical-align:top;
		}
		
		.social {
			position: absolute;
			bottom:20px; left:0; right:0;
			@include justify-content( center );
			border: none;
			margin:0; padding:0;
		}
	}
	
	nav {
		position: relative;
		top:0; left:0; right:0; bottom:0;
		z-index: 3;
	
		&,
		ul { display: block; }
		
		ul { margin: 0 0 10px; }
		
		li a {
			background: darken($redColor,10);
			border: none !important;
			margin-bottom: 1px;
			&:hover { background: darken($redColor,30); }
		}
		
		.btngroup {
			@include flex-flow( row wrap );
			a {
				@include flex( 1 1 auto );
				background: $greyColor;
				text-align: center;
				&:hover { background: $darkGreyColor; }
			}
		}
	}
	
}