$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	padding-bottom: 40px;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	
	.sw {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover; 
	display: block;
	margin: 20px auto 0;
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

.footer-nav {
	background-color: $darkGreyColor;
	
	.sw {
		@include display( flex );
		@include justify-content( space-between );
	}
	
	ul {
		@include display( flex );
		margin-left: -20px;
		a { 
			color: #aeaeae; 
			line-height: 1;
			display: block;
			padding: 20px;
			text-transform: uppercase;
			&:hover { 
				background: $redColor; 
				color: #fff;
			}
		}
	}
	
	
	.social {
		margin-right: -8px;
		a {
			position: relative;
			margin: 12px 8px;
			font-size: 18px;
			overflow: visible;
			&:before { color: $greyColor; }
			&:after {
				content:"";
				position: absolute;
				top: -5px; left: -5px; right: -5px; bottom: -5px; 
				background-color: #e4e4e4;
				border-radius: 50%;
				@include transition-duration( 0s );
			}
			
			&:hover {
				&:before { color: #fff; }
				&:after { background-color: $redColor; }
			}
			
		}
	}
	
	
}

.footer-logo {
	position: relative;
	&:before {
		position: absolute;
		top:50%; left:0; right:0;
		border-top: 1px solid #ccc;
		content:"";
		z-index: 1;
	}

	div {
		width: 260px;
		padding: 0 40px;
		margin: 20px auto;
		background: $greyColor;
		position: relative;
		z-index: 2;
	}
	
	a { display: block; }

}

.copyright,
.footer-contact {
	color: #aeaeae;
	text-align:center;
}

.footer-contact {

	font-size: 14px;
	
	span {
		position: relative;
		margin-left: 16px; 
		&:before {
			content:"";
			position: absolute;
			left: -10px; top: 0; bottom:-2px;
			border-left: 1px solid #aeaeae;
			
		}
		
		&:first-child { 
			margin:0;
			&:before { display: none; }
		}
	}
}

@media screen and (max-width: 900px) {
	.footer-nav .sw {
		padding: 20px 0;
		@include justify-content( center );
		@include flex-flow( row wrap );
		ul { margin:0 0 20px; }
		.social { 
			@include flex( 0 0 100% ); 
			@include justify-content( center );
		}
	}

}

@media screen and (max-width: 700px) {
	.footer-nav {
		.sw { max-width: 100%; }
		.sw,
		ul { display: block; }
	}
	
	.footer-contact {
		span {
			margin:0;
			display: block;
			&:before { display: none; }
		}
	}
}