.social {

	cursor: default;
	@include display( flex );

	a {
		width: 28px; height: 30px;
		@include t-fa-abs();
		&:before { 
			color: #fff;
			font-size: 18px;
		}
		&:hover {
			&:before { color: $redColor; }
		}
	}
	
}

.social-fb:before { content: $fa-var-facebook; }
.social-tw:before { content: $fa-var-twitter; }
.social-in:before { content: $fa-var-linkedin; }
.social-ig:before { content: $fa-var-instagram; }
.social-gp:before { content: $fa-var-google-plus; }
.social-yt:before { content: $fa-var-youtube; }
.social-rss:before { content: $fa-var-rss; }