/* hero */
.hero {
	
	background: #000; 
	position: relative;
	
	.big-fader {
		height: 100vh;
		min-height: 400px;
		max-height: 800px;
	}
	
	.slick-list { height: 100%; }
	
	.fader-item,
	.slick-track {
		height: 100%;
	}
	
	.fader-item {
		position: relative;
		background-color: #000;
		@include display( flex );
	}
	
	.fader-item-bg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: #000;
		background-position: center;
		background-size: cover;
	}
	
}

.hero-content { 
	@include display( flex );
	@include flex-flow( column nowrap );
	@include justify-content( center );
	text-align:center;
	color: #fff;
	position: relative;
	z-index: 2;
	width:100%;
	
	.title,
	.subtitle {
		width: 500px;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	
	.title {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 36px;
	}
	
	.subtitle {
		font-weight: 200;
		font-size: 18px;
	}
	
}

.hero-search-wrap {
	width: 600px;
	max-width: 100%;
	margin: 20px auto 0;
	border-radius: 8px;
	overflow: hidden;
	
	form { @include display( flex ); }
	
	input { 
		background: transparent;
		border: none;
		outline: none;
		font-family: $defaultFontStack;
		font-weight:300;
		padding: 18px;
		font-size: 18px;
		background: #fff;
		@include flex( 1 1 auto );
	}
	
	.selector,
	button {
		@include flex( 0 0 auto );
	}
	
	.selector { 
		background: #e4e4e4; 
		margin:0;
		@include display( flex );
		@include align-items( center );
		&:hover {
			background: darken(#e4e4e4,10);
			.value,
			&:before { color: #fff; }
		}
		
		.value,
		&:before { color: #999; }
		
		.value { text-transform: none; }
		
	}
	button { 
		color: #fff;
		background: $redColor;
		padding: 8px 24px;
		line-height:1;
		&:hover {
			background: darken($redColor,10); 
		}
	}
	
}

@media screen and (max-width: 600px) {

	.hero-content {
	
		width: 95%; 
		margin: 0 auto;
		
		.title { font-size: 24px; }
		.subtitle { display: none; }
	}

	.hero-search-wrap {
	
		form { display: block; }
		input { 
			width: 100%; 
			font-size: 16px;
		}
		
		input,
		.selector,
		button { border-radius: 8px; margin: 0 0 8px;}
		
		button,
		input,
		.selector .value {
			padding: 12px;
		}
	}

}