.red-bg { background: $redColor; }
.grey-bg { background: $greyColor; }

$mwSizes: (75,50,25);
[class*=mw] { margin-left: auto; margin-right: auto; }
@each $mw in $mwSizes {
	.mw-#{$mw} { 
		max-width: #{$mw} + '%'; 
	}
}

.small-wrap {
	width: 800px;
	margin: 0 auto;
	max-width: 100%;
}

.bordered { border: 1px solid #e8e8e8; }

.hero {
	background: #fff;
	.home & .fader-item {
		padding: 150px 0 0;
		
		@media screen and (max-width: $collapseNavAt) {
			& { padding-top: 150px;}
		}
	}
}

.fader-wrap { position:relative; }
.fader { margin-bottom:0; }
.fader-item {
	position: relative;
	opacity:0;
	background: center no-repeat;
	background-size: cover;
	@include transition( 0.3s opacity $ease-in-out-sine );
	&.loaded { opacity:1; }
}

.split-block {
	@include display( flex );
	@include justify-content( center );
	&.full { min-height: 400px; }
	
	&.with-border {
		border-bottom: 1px solid #fff;
		.split-block-item:first-child { border: 0 solid #fff; border-width: 0 1px 0 0;}
	}
	
}

.split-block-item {
	@include flex( 0 1 50% );
	@include display( flex );
	
	.split-block.full & { 
		@include align-items( center );
	}
}

.split-block-item:first-child { 
	@include justify-content( flex-end ); 
	.split-block-content { padding-right: 40px; }
}
.split-block-item:last-child { 
	@include justify-content( flex-start ); 
	.split-block-content { padding-left: 40px; }
}

.split-block-content { 
	width: 95%;
	max-width: 800px;
	padding: 60px 0;
}

@media screen and (max-width: 950px) {
	.split-block-item,
	.split-block { display: block; }
	.split-block-content { padding: 20px !important; }
	.split-block.with-border {
		.split-block-item:first-child {
			border-width: 0 0 1px;
		}
	}
}

.dark-overlay,
.red-overlay {
	position: relative;
	&:after {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		z-index: 1;
		content:"";
	}
	
	.overlay-content {
		position: relative;
		z-index: 2;
	}
}

.dark-overlay:after { background: rgba(20,20,20,0.8); }
.red-overlay:after { background: rgba($redColor,0.8); }

.button-dots { 
	.slick-dots { 
		@include display( flex ); 
		@include justify-content( center );
		li { margin: 0 3px;}
		button { 
			outline: none; 
			text-indent: -999em;
			width: 20px; height: 20px;
			border-radius: 50%;
			border: 2px solid #fff;
			overflow: hidden;
		}
		
		.slick-active button {
			background: #fff;
		}
	}
}

.job-item {
	background: #fff;
	border-radius: 6px; 
	color: $bodyContentColor;
	@include transition( 0.15s background $ease-in-out-sine );
	&:hover { background: #f0f0f0; }
	
	.title { color: $redColor; }
	
}

.eqh .item.with-button {
	padding-bottom: 60px; 
	position: relative;
	
	.button {
		position: absolute;
		bottom: 20px; left: 20px;
	}
	
}

.item {

	.title { margin:0; }
	
	.meta {
		display: block;
		
		&.meta-one { 
			color: $redColor; 
		}
		
		&.meta-two { 
			color: #aeaeae; 
		}
		
	}
	
	.title,
	.meta {
		& + p { margin-top: 15px; }
	}
	
	@media screen and (max-width: 599px) {
		&.job-item p { display: none; }
	}
	
}

.featured-block-wrap {
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
}

.featured-block {
	@include display( flex );
	@include align-items( flex-start );
	margin: 20px 0;
}

.featured-img {
	@include flex( 0 0 33.333% );
	margin: 0 40px 40px 0;
	
	&.full {
		margin-bottom:0;
		@include align-self( stretch );
		position: relative;
		.lazybg { 
			position: absolute;
			top:0; left:0; right:0; bottom:0;
		}
	}
	
}

.featured-content {
	.buttons {
		margin-top: 15px;
		.button + .button { margin-left: 12px; }
	}
}

@media screen and (max-width: 800px) {
	.featured-block {
		display: block;
		text-align:center;
	}
	
	.featured-img { margin: 0 40px 40px;}
}

@media screen and (max-width: 600px) {
	.featured-content {
		.button {
			margin:0 0 16px !important;
			display: block;
		}
	}
}


.button {
	position: relative;
	
	.badge {
		position: absolute;
		top: -12px; left: -16px;
		margin:0;
	}
}

.badge {
	color: #fff;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 12px;
	padding: 4px 8px;
	background: $redColor;
	height: 25px; 
	line-height: 17px;
	text-align:center;
}

.nav-top-tooltip {
	background: $redColor;
	border: none;
}

/* search form */
.global-search-form {
	position: fixed;
	top:0; left:0; right:0; bottom:0;
	background: rgba(255,255,255,0.9); 
	z-index: 99;
	@include transition( 0.4s transform $ease-in-out-sine );
	@include transform( translate3d(0,-100%,0) );
	
	.show-search & {
		@include transform( translate3d(0,0,0) );
	}
	
	.fieldset { 
		@include display( flex ); 
		position: absolute;
		top:0; left:0; right:0;
		width: $wrapperWidth; height: 100%;
		max-width: 100%;
		margin: 0 auto;
	}
	
	input { 
		margin: auto; 
		background: transparent;
		font-size: 32px;
		font-family: $defaultFontStack;
		padding: 12px;
		border: 3px solid transparent;
		border-bottom-color: #ccc;
		outline: none;
		width: 600px;
		max-width: 80%;
		min-width: 300px;
		@include appearance( none );
		
		@media screen and (max-width: $collapseNavAt) {
			font-size: 20px;
		}
	}
	
	.close {
		position: absolute;
		top: 10px; right: 10px;
		font-size: 32px;
		cursor: pointer;
		width: 44px; height: 44px;
		color: $redColor;
		overflow:visible;
		@include transition( 0.2s color $ease-in-out-sine 0.2s );
		
		&:after {
			background: $redColor;
			width: 44px; height: 44px; 
			border-radius: 22px;
			position: absolute;
			top:0; left:0;
			@include transform-origin( center );
			@include transform( scale( 0,0) );
			@include perspective( 1px );
			content: "";
			@include transition( 0.2s transform $ease-in-back );
		}
		
		&:hover {
			color: #fff;
			@include transition-delay( 0s );
			
			&:after {
				@include transform( scale( 1,1) );
				@include transition-timing-function( $ease-out-back ); 
			}
		}
	}
	
}

.breadcrumbs {
	margin: 40px 0;
	background: $redColor;
	.home { 
		@include t-fa-abs();
		width: 30px; height: 30px;
		display: inline-block;
		font-size: 20px;
		margin-right: -3px;
		&:before { content: $fa-var-home; }
	}
	
	a {
		vertical-align: middle;
		font-size: 16px;
		&:before { font-size: 24px !important; }
	}
}

/* half-section */
.half-section {
	&.left-half .sw { padding-right: 50%; }
	&.right-half .sw { padding-left: 50%; }
	
	@media screen and (max-width: 850px) {
		& { background-image: none !important; }
		.sw { padding:0 !important; }
	}
	
}

/* sidebar-mod */
.sidebar-mod {
	margin: 0 0 20px;
}

.buttons-mod { 
	text-align:center;
	.button { margin: 0 0 10px; }
}

.mod-title {
	color: #fff;
	background: $redColor;
	margin:0;
	padding: 12px;
}

.archives-mod {
	.acc-item-content a {
		display: block;
		margin: 0 -10px;
		padding: 4px 12px;
		color: $redColor;
		
		&:hover {
			color: #fff;
			background: $redColor;
		}
	}
}

.callout-mod {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 380px;
	position: relative;
	color: $bodyContentColor;
	overflow: hidden;
	
	.lazybg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		z-index: 1;
	}
	
	.content {
		padding: 20px;
		position: relative;
		z-index: 2;
		width: 300px;
		max-width: 90%;
	}
	
	p { margin: 20px 0; }
}

/* article */
.article-thumb { margin: 0 0 20px; }
.article-meta {
	margin: 0 0 20px;
	
	time {
		font-size: 14px;
		@include t-fa();
		text-transform: uppercase;
		color: $redColor; 
		&:before { 
			content: $fa-var-calendar;
			
			margin-right: 8px;
		}
	}
	
}

/* block overrides */
.block {
	.img-wrap:first-child { margin: -15px -15px 10px; }
	.tags {
		margin: 0 0 6px;
		padding: 0 0 6px;
		text-align: right;
		border-bottom: 2px solid $separatorColor;
	}
	
	.tag { position: static; margin-left: 5px;}
}

.blo


/* error 404 */
.error404-actions {

	padding: 15px;
	text-align: center;
	
	form,
	.button { margin: 0 0 15px; }

	form {
	
		display: inline-block;
		vertical-align: middle;
	
		input {
			padding: 11px;
			width: 300px;
		}
	
		button {
			background: $redColor;
			color: #fff;
			&:hover {
				background: $greyColor;
			}
		}
	}

}

/* form overrides */
.form-holder {
	form {
		margin: 40px auto;
	}
}

.field-wrap.t-fa-abs {
	&:before { color: $redColor; }
}

/* filter overrides */
.filter-bar-buttons {
	.selector {
		background: $greyColor;
		border: 2px solid $greyColor;
		color: #fff;
		&:before { color: #fff; }
		.value { text-transform: uppercase !important; }
		
		.value,
		select:focus+.value,
		&:hover .value { color: #fff; }
		
	}
}

/* embedded-gmap */
.embedded-gmap-wrap {
	background: #000;
	position: relative;
	border: 1px solid #fff;
	height:0;
	overflow:hidden;
	padding: 56.25% 0 0;
}

.embedded-gmap {
	&,
	& iframe {
		position: absolute; 
		left:0; right:0; top:0; bottom:0; 
		width: 100%; height: 100%; 
	}
}

.login-register-tabs {
	margin: 0 auto;
	width: 600px;
	position: relative;
	max-width: 100%;
	background: $pageBackgroundColor;
	padding: 30px;
	
	.selector { display: none; }
	
	.tab-control-wrap {
		margin: -30px -30px 20px;
		@include display( flex );
		.button {
			@include flex( 1 1 auto );
			border: none;
			&:first-child { margin-right: 1px; }
			&.selected,
			&:hover { background: $redColor; }
		}
	}
	
	.mfp-close { display: none; }
	
	.close {
		background: none;
		border: none;
		color: #fff;
		font-weight: 700;
		position: absolute;
		top: -30px; right: 0;
		padding: 4px 12px;
		font-size: 14px;
		text-transform: uppercase;
		.fa { font-size: 18px; }
		&:hover { 
			background: $redColor; 
		}
	}
	
}

@media screen and (max-width: 500px) {

	.login-register-tabs {
		padding: 15px;
		.tab-control-wrap { margin: -15px -15px 15px; }
	}

	.body-form .f-right {
		float: none;
		text-align: left;
		margin: 10px 0 0;
	}
}